* {
    margin: 0;
    padding: 0;
}

nav img {
    width: 300px;
}

body {
    display: flex;
    max-width: 1200px;
    height: 100vh;
    flex-direction: column;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    margin: 50px;
    width: 100%;
    justify-content: space-around;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#signUp {
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
}

#login {
    margin-left: 30px;
}

.navCategories ul {
    display: flex;
}

.navCategories ul li {
    display: flex;
    width: 100%;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 80px;
}

.container{
    display: flex;
    flex-direction: row;
}

.imgMain img{
    width: 600px;
    height: auto;
}

.containerTexts{
    width: 450px;
}

.containerTexts h4 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #DF6951;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 20px;
}

.containerTexts h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #181E4B;
    font-weight: 900;
    line-height: 1.15;
    font-size: 70px;
}

.containerTexts p {
    margin-top: 25px;
    font-family: arial;
    color: #5E6282;
    line-height: 2;
}

.buttonsMain{
    display: flex;
    margin-top: 35px;
    gap: 35px;
}

#findMore {
    background-color: #F1A501;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.demo {
    display: flex;
    align-items: center;
}

#playDemoBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 15px;
    width: 18px;
    height: 18px;
    background-color: #DF6951;
}

#playDemoBtn i {
    font-size: 20px;
    color: #FFFFFF;
}

#playDemoBtn button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#playDemo{
    color: #686D77;
    font-size: 14px;
    border: none;
    width: 92px;
    cursor: pointer;
}


.dropdown{
    display: flex;
    flex-direction: column;
    background-color: #686D77;
}


